:root {
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturared-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

